<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="currentApplication.id; else createNewApplication">
      {{ originalName }}
    </mat-card-title>
    <ng-template #createNewApplication>
      <h1>Create a New Application</h1>
    </ng-template>
  </mat-card-header>
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    (ngSubmit)="saveForm(formDirective)"
  >
    <mat-card-content>
      <mat-form-field class="full-width" appearance="outline" floatlabel>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          type="text"
          name="name"
        />
        <mat-error *ngIf="form.get('name')">Required Field</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline" floatlabel>
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
          type="text"
          name="description"
        />
        <mat-error *ngIf="form.get('description')">Required Field</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline" floatlabel>
        <mat-label>Contributors</mat-label>
        <input
          matInput
          placeholder="Contributors"
          formControlName="contributors"
          type="number"
          name="contributors"
        />
        <mat-error *ngIf="form.get('contributors')">Required Field</mat-error>
      </mat-form-field>
      <section class="full-width">
        <mat-label>
          Percent Complete: {{ form.get('percentComplete')?.value }} %
        </mat-label>
        <mat-slider
          formControlName="percentComplete"
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          tickInterval="1"
        ></mat-slider>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="form.invalid">
        {{ currentApplication.id ? 'Create' : 'Update' }}
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
